.item{
    padding: 10px;
    background: #86868636;
    width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}